In [1]:
from datetime import datetime
import pandas as pd

In [2]:
df = pd.read_csv('id-cleaned-tweet-data.csv', encoding = 'latin-1')

In [3]:
df.head()

,Unnamed: 0,Date,Username,Tweet,cleaned_tweet,len_words,tokens
0,0,2021-11-29T23:54:51.000Z,"mici626\n@bruisedbadly\nÃÂ·\nNov 30, 2021","bikinnya harus di domisili iya, tapi selama ad...",bikin domisili lama foto bekas siapa tempat do...,198,"['bikin', 'domisili', 'lama', 'foto', 'bekas',..."
1,1,2021-11-29T23:52:01.000Z,"snoop\n@peppreoni\nÃÂ·\nNov 30, 2021",Temenku weekend kemarin ada yg ke Bali sama ke...,temenku weekend kemarin bal sama jogja jadi pe...,74,"['temenku', 'weekend', 'kemarin', 'bal', 'sama..."
2,2,2021-11-29T23:26:52.000Z,Tips Merawat Ternak\n@merawatternak\nÃÂ·\nNov...,5. Kambing ini merupakan kambing asal pulau Ba...,kambing rupa kambing asal pulau bal hambir punah,54,"['kambing', 'rupa', 'kambing', 'asal', 'pulau'..."
3,3,2021-11-29T23:25:33.000Z,"koko turner\n@hyuckdiphile\nÃÂ·\nNov 30, 2021",kokoÃÂ² surabaya lagi liburan di Bali,koko surabaya libur bal,33,"['koko', 'surabaya', 'libur', 'bal']"
4,4,2021-11-29T22:54:24.000Z,Nisa Fitriyani Sailolof\n@NisaFit05651805\nÃÂ...,"5 hotel nyaman harga Rp 100 ribu-an di Kuta, B...",hotel nyaman harga ribu kuta bal bal kuta prom...,86,"['hotel', 'nyaman', 'harga', 'ribu', 'kuta', '..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45018 entries, 0 to 45017
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     45018 non-null  int64
 1   Date           45018 non-null  object
 2   Username       45018 non-null  object
 3   Tweet          45018 non-null  object
 4   cleaned_tweet  45018 non-null  object
 5   len_words      45018 non-null  int64
 6   tokens         45018 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.4+ MB

In [5]:
df['Date'] = pd.to_datetime(df.Date)

In [6]:
df['year'] = df.Date.apply(lambda x: x.strftime('%Y'))
df['month'] = df.Date.apply(lambda x: x.strftime('%m'))
df.head()

,Unnamed: 0,Date,Username,Tweet,cleaned_tweet,len_words,tokens,year,month
0,0,2021-11-29 23:54:51+00:00,"mici626\n@bruisedbadly\nÃÂ·\nNov 30, 2021","bikinnya harus di domisili iya, tapi selama ad...",bikin domisili lama foto bekas siapa tempat do...,198,"['bikin', 'domisili', 'lama', 'foto', 'bekas',...",2021,11
1,1,2021-11-29 23:52:01+00:00,"snoop\n@peppreoni\nÃÂ·\nNov 30, 2021",Temenku weekend kemarin ada yg ke Bali sama ke...,temenku weekend kemarin bal sama jogja jadi pe...,74,"['temenku', 'weekend', 'kemarin', 'bal', 'sama...",2021,11
2,2,2021-11-29 23:26:52+00:00,Tips Merawat Ternak\n@merawatternak\nÃÂ·\nNov...,5. Kambing ini merupakan kambing asal pulau Ba...,kambing rupa kambing asal pulau bal hambir punah,54,"['kambing', 'rupa', 'kambing', 'asal', 'pulau'...",2021,11
3,3,2021-11-29 23:25:33+00:00,"koko turner\n@hyuckdiphile\nÃÂ·\nNov 30, 2021",kokoÃÂ² surabaya lagi liburan di Bali,koko surabaya libur bal,33,"['koko', 'surabaya', 'libur', 'bal']",2021,11
4,4,2021-11-29 22:54:24+00:00,Nisa Fitriyani Sailolof\n@NisaFit05651805\nÃÂ...,"5 hotel nyaman harga Rp 100 ribu-an di Kuta, B...",hotel nyaman harga ribu kuta bal bal kuta prom...,86,"['hotel', 'nyaman', 'harga', 'ribu', 'kuta', '...",2021,11

In [7]:
df['month'].value_counts()

11    7522
05    4359
03    4240
06    3635
01    3472
08    3442
10    3408
12    3342
09    3139
02    3057
07    2889
04    2513
Name: month, dtype: int64

In [8]:
df = pd.DataFrame(df)
df.to_csv('id-cleaned-tweet-data.csv')