In [1]:
from datetime import datetime
import pandas as pd

In [2]:
df = pd.read_csv('en-cleaned-tweet-data.csv', encoding = 'latin-1')

In [3]:
df.head()

,Unnamed: 0,Date,Username,Tweet,cleaned_tweet,len_words,tokens
0,0,2021-11-29T16:44:27.000Z,"Jack\n@_JackRFC_\nÃÂ·\nNov 29, 2021",Might just sack everything off and go and live...,might sack everything live beach bali someth,52,"['might', 'sack', 'everything', 'live', 'beach..."
1,1,2021-11-29T15:36:51.000Z,"Muki\n@Mukila19\nÃÂ·\nNov 29, 2021",3 rd island Aachu arjun sir should have questi...,island aachu arjun questioned viji gave left r...,206,"['island', 'aachu', 'arjun', 'questioned', 'vi..."
2,2,2021-11-29T14:50:23.000Z,"BALI Awards\n@BALI_Awards\nÃÂ·\nNov 29, 2021",Reply with your favourite BALI Awards memories...,reply favourite bali awards memories take trip...,73,"['reply', 'favourite', 'bali', 'awards', 'memo..."
3,3,2021-11-29T14:26:04.000Z,No Base! Ã¦Â²ÂÃ§Â¸Â Okinawa\n@nobaseyellow\n...,But are Japanese free to pop over to Hawaii fo...,japanese free hawaii trip bali,35,"['japanese', 'free', 'hawaii', 'trip', 'bali']"
4,4,2021-11-29T14:24:28.000Z,Mythological Africans\n@MythicAfricans\nÃÂ·\n...,#MythologyMonday\nThis myth explains the origi...,mythologymonday myth explains origins races ku...,223,"['mythologymonday', 'myth', 'explains', 'origi..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20131 entries, 0 to 20130
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     20131 non-null  int64
 1   Date           20131 non-null  object
 2   Username       20131 non-null  object
 3   Tweet          20131 non-null  object
 4   cleaned_tweet  20131 non-null  object
 5   len_words      20131 non-null  int64
 6   tokens         20131 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.1+ MB

In [5]:
df['Date'] = pd.to_datetime(df.Date)

In [6]:
df['year'] = df.Date.apply(lambda x: x.strftime('%Y'))
df['month'] = df.Date.apply(lambda x: x.strftime('%m'))
df.head()

,Unnamed: 0,Date,Username,Tweet,cleaned_tweet,len_words,tokens,year,month
0,0,2021-11-29 16:44:27+00:00,"Jack\n@_JackRFC_\nÃÂ·\nNov 29, 2021",Might just sack everything off and go and live...,might sack everything live beach bali someth,52,"['might', 'sack', 'everything', 'live', 'beach...",2021,11
1,1,2021-11-29 15:36:51+00:00,"Muki\n@Mukila19\nÃÂ·\nNov 29, 2021",3 rd island Aachu arjun sir should have questi...,island aachu arjun questioned viji gave left r...,206,"['island', 'aachu', 'arjun', 'questioned', 'vi...",2021,11
2,2,2021-11-29 14:50:23+00:00,"BALI Awards\n@BALI_Awards\nÃÂ·\nNov 29, 2021",Reply with your favourite BALI Awards memories...,reply favourite bali awards memories take trip...,73,"['reply', 'favourite', 'bali', 'awards', 'memo...",2021,11
3,3,2021-11-29 14:26:04+00:00,No Base! Ã¦Â²ÂÃ§Â¸Â Okinawa\n@nobaseyellow\n...,But are Japanese free to pop over to Hawaii fo...,japanese free hawaii trip bali,35,"['japanese', 'free', 'hawaii', 'trip', 'bali']",2021,11
4,4,2021-11-29 14:24:28+00:00,Mythological Africans\n@MythicAfricans\nÃÂ·\n...,#MythologyMonday\nThis myth explains the origi...,mythologymonday myth explains origins races ku...,223,"['mythologymonday', 'myth', 'explains', 'origi...",2021,11

In [7]:
df['month'].value_counts()

11    3433
10    2124
08    1945
07    1809
09    1774
06    1654
05    1497
03    1449
04    1291
01    1162
12    1035
02     958
Name: month, dtype: int64

In [8]:
df = pd.DataFrame(df)
df.to_csv('en-cleaned-tweet-data.csv')